* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 10px;
    padding-top: 5rem;
    font-family: 'Martel Sans', sans-serif;
}

button {
    background-color: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    transition: 500ms;
    color: white;
}

button:nth-child(1):hover {
    color: red;
}

h1 {
    font-size: 1rem;
    text-align: center;
    color: white;
    margin-right: 50px;
}

p {
    font-size: max(10pt, 2.5vmin);
    line-height: 1.4;
    color: #0e390e;
    margin-bottom: 1.5rem;
}

.wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 75vmin;
    height: 20em;
    margin: 1.1rem auto;
    transition: .3s ease-in-out;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 4.3px 0px 8.7px -52px rgba(0, 0, 0, 0.008), 8.6px 0px 15.9px -52px rgba(0, 0, 0, 0.012), 13.1px 0px 21.4px -52px rgba(0, 0, 0, 0.015), 17.9px 0px 25.9px -52px rgba(0, 0, 0, 0.018), 22.9px 0px 30.3px -52px rgba(0, 0, 0, 0.02), 28.8px 0px 34.7px -52px rgba(0, 0, 0, 0.022), 37.5px 0px 39.4px -52px rgba(0, 0, 0, 0.025), 45px 0px 44.4px -52px rgba(0, 0, 0, 0.028), 50.3px 0px 49.6px -52px rgba(0, 0, 0, 0.032), 55px 0px 55px -52px rgba(0, 0, 0, 0.04);
}

.overlay {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem .75rem;
    background: gray;
    transition: .4s ease-in-out;
    z-index: 1;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10vmin;
    height: 100%;
    padding: .5rem 0 0 .5rem;
    margin-right: 50rem;
    transition: .3s ease-in-out .2s;
    z-index: 1;
}

.image-content:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vmin;
    height: 100%;
    background-size: cover;
    transition: .3s ease-in-out;
}

.dots {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 55px;
    height: 4vmin;
    transition: .3s ease-in-out .3s;
}

.dot {
    width: 14px;
    height: 14px;
    background: gray;
    border-radius: 50%;
    transition: .3s ease-in-out .3s;
}

.text {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vmin;
    height: 100%;
    padding: 3vmin 4vmin;
    background: #fff;
    box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / .4);
    overflow: auto;
}

.wrap:hover .overlay {
    transform: translateX(-60vmin);
    cursor: pointer;
}

.wrap:hover .image-content {
    width: 30vmin;
}

.wrap:hover .overlay-content {
    border: none;
    transition-delay: .2s;
    transform: translateX(60vmin);
}

.wrap:hover .dots {
    transform: translateX(1rem);
}

.wrap:hover .dots .dot {
    background: white;
}

.animate {
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
    animation-fill-mode: backwards;
}

.pop {
    animation-name: pop;
}

@keyframes pop {
    0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.slide {
    animation-name: slide;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translate(4em, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.slide-left {
    animation-name: slide-left;
}

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translate(-40px, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.slide-up {
    animation-name: slide-up;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(3em);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.delay-1 {
    animation-delay: 0.3s;
}

.delay-2 {
    animation-delay: 0.6s;
}

.delay-3 {
    animation-delay: 0.9s;
}

.delay-4 {
    animation-delay: 1.2s;
}

.delay-5 {
    animation-delay: 1.5s;
}

.delay-6 {
    animation-delay: 1.8s;
}

.delay-7 {
    animation-delay: 2.1s;
}

.delay-8 {
    animation-delay: 2.4s;
}

.overlay1 {
    background-image: url(https://images.unsplash.com/photo-1554224155-3a58922a22c3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=841&q=80);
    background-position: center;
    background-size: cover;
}

.overlay2 {
    background-image: url(https://images.unsplash.com/photo-1496395650962-374cae58ca8b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80);
    background-position: center;
    background-size: cover;
}

.overlay3 {
    background-image: url(https://images.unsplash.com/photo-1586202690180-1967f682ef1a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=444&q=80);
    background-position: center;
    background-size: cover;
}

.overlay4 {
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/690/792/non_2x/rock-paper-scissors-hand-icons-vector.jpg);
    background-position: center;
    background-size: cover;
}

.overlay5 {
    background-image: url(https://images.unsplash.com/photo-1665789318391-6057c533005e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);
    background-position: center;
    background-size: cover;
}

.overlay6 {
    background-image: url(https://images.unsplash.com/photo-1533740795835-8f0320846018?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=930&q=80);
    background-position: center;
    background-size: cover;
}

.overlay7 {
    background-image: url(https://images.unsplash.com/photo-1522544123513-8032a9b4e5d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-position: center;
    background-size: cover;
}

.overlay8 {
    background-image: url(https://images.unsplash.com/photo-1508962914676-134849a727f0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-position: center;
    background-size: cover;
}

.overlay9 {
    background-image: url(https://images.pexels.com/photos/5985274/pexels-photo-5985274.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
}

.overlay10 {
    background-image: url(yf.jpg);
    background-position: center;
    background-size: cover;
}


/* .video-bg {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        overflow: hidden;
    }
    
    .video-bg video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    } */


/* width */

 ::-webkit-scrollbar {
    width: 4px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 30%;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: gray;
    border-radius: 30%;
}

footer {
    margin-top: 90px;
    width: 100vw;
    height: 20px;
    text-align: center;
    user-select: none;
    padding: 20px;
    display: flex;
    justify-content: center;
}

#switchTheme img {
    position: absolute;
    cursor: pointer;
    transition: 500ms;
    width: 32px;
    top: 35px;
    right: 35px;
}

body.darkMode {
    background-image: linear-gradient(to bottom, #1b1d1f, #191d22, #191c25, #1c1a27, #201828);
    color: #ffffff;
    transition: 500ms;
}

body.darkMode #myButton {
    background-color: #dedbdb;
    color: black;
}

body.darkMode .backButton {
    color: white;
}

body.darkMode #myButton:hover {
    background-color: #bab4b4ca;
}

body.darkMode .description,
body.darkMode h3 {
    color: rgba(237, 230, 230, 0.694);
}

@media screen and (max-width:576px) {
    h1 {
        font-size: 11px;
        margin-left: -16px;
    }
}

.backButton {
    position: absolute;
    top: 35px;
    left: 25px;
    color: black;
    font-size: 35px;
}